/*
  Theme Name: Rapid
  Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
  Author: BootstrapMade.com
  License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    background: #f1f1f1;
    color: #444;
    font-family: "Open Sans", sans-serif;
}

a {
    color: #336ac2;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #336ac2;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 10px 0;
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

.color-blue {
        color: #336ac2;
}
.h-80{
    height: 80px;
}

.pt-10{
    padding-top: 10rem!important;
}

.mt-10{
    margin-top: 5rem!important;
}

.box-shadow {
    -webkit-box-shadow: 0 10px 6px -6px #bfbfbf;
       -moz-box-shadow: 0 10px 6px -6px #bfbfbf;
            box-shadow: 0 10px 6px -6px #bfbfbf;
}
/* Back to top button */

.back-to-top {
    position: fixed;
    display: none;
    background: #1bb1dc;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: #fff;
}

/* Prelaoder */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #1bb1dc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

#topbar {
    padding: 0 0 10px 0;
    font-size: 14px;
    transition: all 0.5s;
}

#topbar .social-links {
    text-align: right;
}

#topbar .social-links a {
    color: #535074;
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
}

#topbar .social-links a:hover {
    color: #1bb1dc;
}

#topbar .social-links a:first-child {
    border-left: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    height: 110px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 20px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

#header.header-scrolled,
#header.header-pages {
    height: 70px;
    padding: 15px 0;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header.header-scrolled #topbar,
#header.header-pages #topbar {
    display: none;
}

#header .logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #413e66;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: 7px 0;
    max-height: 26px;
}

.main-pages {
    margin-top: 60px;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f5f8fd url("../img/welcome-bg.jpg") center top no-repeat;
    background-size: cover;
}

#intro .intro-info h2,
#welcome-1 .intro-info h2 {
    color: #ffffff;
    margin-top: 40px;
    font-size: 48px;
    font-weight: 500;
}

#intro .intro-info h3,
#register .intro-info h3,
#welcome-1 .intro-info h3 {
    font-size: 24px;
    color: #fff;
    font-weight: 300;
}

#intro .intro-info h2 span {
    color: #1bb1dc;
}

#intro .intro-info .btn-get-started,
#welcome-1 .intro-info .btn-get-started,
#intro .intro-info .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 20px;
    transition: 0.5s;
    color: #fff;
    background: #276ac2;
    color: #fff;
}

#intro .intro-info .btn-get-started:hover,
#intro .intro-info .btn-services:hover {
    background: #0a98c0;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#register {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f5f8fd url("../img/registration-bg.jpg") center top no-repeat;
    background-size: cover;
    background-position: bottom;
}

#welcome {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f5f8fd url("../img/welcome-1.jpg") center top no-repeat;
    background-size: cover;
    background-position: bottom;
}

#welcome-1 {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f5f8fd url("../img/welcome-2.jpg") center top no-repeat;
    background-size: cover;
    background-position: bottom;
}

#welcome .group {
    position: absolute;
    right: 0;
    padding-right: 0;
    width: 35%;
    top: 35%;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.main-nav {
    /* Drop Down */
    /* Deep Drop Down */
}

.main-nav,
.main-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav>ul>li {
    position: relative;
    white-space: nowrap;
    float: left;
}

.main-nav a {
    display: block;
    position: relative;
    color: #413e66;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.main-nav a:hover,
.main-nav .active>a,
.main-nav li:hover>a {
    color: #1bb1dc;
    text-decoration: none;
}

.main-nav .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% - 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
}

.main-nav .drop-down:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.main-nav .drop-down li {
    min-width: 180px;
    position: relative;
}

.main-nav .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #065e77;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active>a,
.main-nav .drop-down ul li:hover>a {
    color: #1bb1dc;
}

.main-nav .drop-down>a:after {
    content: "\f107";
    font-family: FontAwesome;
    padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.main-nav .drop-down .drop-down>a {
    padding-right: 35px;
}

.main-nav .drop-down .drop-down>a:after {
    content: "\f105";
    position: absolute;
    right: 15px;
}

/* Mobile Navigation */

.mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    left: -260px;
    width: 260px;
    padding-top: 18px;
    background: rgba(40, 38, 70, 0.8);
    transition: 0.4s;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
    color: #8dc2fa;
    text-decoration: none;
}

.mobile-nav .drop-down>a:after {
    content: "\f078";
    font-family: FontAwesome;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down>a:after {
    content: "\f077";
}

.mobile-nav .drop-down>a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    margin: 18px 18px 0 0;
    color: #065e77;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(40, 38, 70, 0.8);
    overflow: hidden;
    display: none;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.section-header h3 {
    font-size: 36px;
    color: #413e66;
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #535074;
    width: 50%;
}

/* Section with background
--------------------------------*/

.section-bg {
    background: #f5f8fd;
}

/* About Us Section
--------------------------------*/

#about {
    padding: 80px 0;
}

#about .about-content {
    padding-top: 40px;
}

#about .about-content h2 {
    color: #413e66;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

#about .about-content h3 {
    color: #696592;
    font-weight: 400;
    font-size: 22px;
    font-style: italic;
}

#about .about-content ul {
    list-style: none;
    padding: 0;
}

#about .about-content ul li {
    padding-bottom: 10px;
}

#about .about-content ul li i {
    font-size: 20px;
    padding-right: 4px;
    color: #1bb1dc;
}

#about .about-img {
    position: relative;
    margin: 30px 30px 30px 30px;
}

#about .about-img img {
    width: 100%;
    border: 8px solid #fff;
    transition: .5s;
}

#about .about-img img:hover {
    width: 100%;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

#about .about-img::before {
    position: absolute;
    left: -31px;
    top: -30px;
    width: 90%;
    height: 92%;
    z-index: -1;
    content: '';
    background-color: #ebf1fa;
    transition: .5s;
}

#about .about-img::after {
    position: absolute;
    right: -31px;
    bottom: -30px;
    width: 90%;
    height: 92%;
    z-index: -1;
    content: '';
    background-color: #ebf1fa;
    transition: .5s;
}

/* Services Section
--------------------------------*/

#services {
    padding: 60px 0 40px 0;
}

#services .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

#services .box:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#services .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#services .icon i {
    font-size: 36px;
    line-height: 1;
}

#services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#services .title a {
    color: #111;
}

#services .box:hover .title a {
    color: #1bb1dc;
}

#services .description {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: left;
}

/* Why Us Section
--------------------------------*/

#why-us {
    padding: 60px 0;
}

#why-us .why-us-content .features {
    margin: 0 0 15px 0;
    padding: 0;
    transition: 0.3s ease-in-out;
}

#why-us .why-us-content .features i {
    font-size: 36px;
    float: left;
}

#why-us .why-us-content .features h4 {
    font-size: 24px;
    font-weight: 600;
    margin-left: 56px;
    color: #413e66;
    margin-bottom: 5px;
}

#why-us .why-us-content .features p {
    font-size: 16px;
    margin-left: 56px;
    color: #555186;
}

#why-us .counters {
    padding-top: 40px;
}

#why-us .counters span {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    display: block;
    color: #555186;
}

#why-us .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #8a87b6;
}

/* Call To Action Section
--------------------------------*/

#call-to-action {
    background: #2d2b46;
    background-size: cover;
    padding: 40px 0;
}

#call-to-action .cta-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

#call-to-action .cta-text {
    color: #fff;
}

#call-to-action .cta-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 26px;
    border-radius: 3px;
    transition: 0.5s;
    margin: 10px;
    border: 3px solid #fff;
    color: #fff;
}

#call-to-action .cta-btn:hover {
    background: #1bb1dc;
    border: 3px solid #1bb1dc;
}

/* Features Section
--------------------------------*/

#features {
    padding: 80px 0;
}

#features h4 {
    font-weight: 600;
    font-size: 24px;
}

/* Portfolio Section
--------------------------------*/

#portfolio {
    padding: 60px 0;
}

#portfolio #portfolio-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
}

#portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    padding: 6px 10px;
    font-size: 16px;
    line-height: 20px;
    color: #413e66;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
    color: #1bb1dc;
}

#portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

#portfolio .portfolio-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

#portfolio .portfolio-item .portfolio-wrap {
    overflow: hidden;
    position: relative;
    margin: 0;
}

#portfolio .portfolio-item .portfolio-wrap:hover img {
    opacity: 0.4;
    transition: 0.3s;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transition: 0.2s linear;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 {
    font-size: 22px;
    line-height: 1px;
    font-weight: 700;
    margin-bottom: 14px;
    padding-bottom: 0;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a {
    color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a:hover {
    color: #1bb1dc;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info p {
    padding: 0;
    margin: 0;
    color: #f8fcff;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details {
    display: inline-block;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    background: #1bb1dc;
    border-radius: 50%;
    margin: 10px 4px 0 4px;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details i {
    padding-top: 6px;
    font-size: 22px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover {
    background: #42c3e8;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover i {
    color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap:hover {
    background: #282646;
}

#portfolio .portfolio-item .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
}

/* Testimonials Section
--------------------------------*/

#testimonials {
    padding: 60px 0;
}

#testimonials .section-header {
    margin-bottom: 40px;
}

#testimonials .testimonial-item .testimonial-img {
    width: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
    float: left;
}

#testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
    margin-left: 140px;
}

#testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0 0 15px 0;
    margin-left: 140px;
}

#testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 0 15px 140px;
}

#testimonials .owl-nav,
#testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
}

#testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

#testimonials .owl-dot.active {
    background-color: #1bb1dc;
}

/* Team Section
--------------------------------*/

#team {
    padding: 60px 0;
}

#team .member {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

#team .member .member-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
    padding: 15px 0;
    background: rgba(29, 28, 41, 0.6);
}

#team .member .member-info-content {
    transition: margin 0.2s;
    height: 40px;
    transition: height 0.4s;
}

#team .member:hover .member-info {
    transition: 0.4s;
}

#team .member:hover .member-info-content {
    height: 80px;
}

#team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}

#team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
}

#team .member .social {
    margin-top: 15px;
}

#team .member .social a {
    transition: none;
    color: #fff;
}

#team .member .social a:hover {
    color: #1bb1dc;
}

#team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}

/* Clients Section
--------------------------------*/

#clients {
    padding: 60px 0;
}

#clients img {
    max-width: 80%;
    opacity: 0.5;
    transition: 0.3s;
    padding: 15px 0;
}

#clients img:hover {
    opacity: 1;
}

#clients .owl-nav,
#clients .owl-dots {
    margin-top: 5px;
    text-align: center;
}

#clients .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

#clients .owl-dot.active {
    background-color: #1bb1dc;
}

/* Pricing Section
--------------------------------*/

#pricing {
    padding: 80px 0;
}

#pricing .card {
    border: 0;
    border-radius: 0px;
    box-shadow: 0 3px 0px 0 rgba(65, 62, 102, 0.08);
    transition: all .3s ease-in-out;
    padding: 36px 0;
    position: relative;
}

#pricing .card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: #1bb1dc;
    transition: 0.5s;
}

#pricing .card:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}

#pricing .card:hover:after {
    width: 100%;
}

#pricing .card .card-header {
    background-color: white;
    border-bottom: 0px;
    -moz-text-align-last: center;
    text-align-last: center;
}

#pricing .card .card-title {
    margin-bottom: 16px;
    color: #535074;
}

#pricing .card .card-block {
    padding-top: 0;
    text-align: center;
}

#pricing .card .list-group-item {
    border: 0px;
    padding: 6px;
    color: #413e66;
    font-weight: 300;
}

#pricing .card h3 {
    font-size: 64px;
    margin-bottom: 0px;
    color: #535074;
}

#pricing .card h3 .currency {
    font-size: 30px;
    position: relative;
    font-weight: 400;
    top: -30px;
    letter-spacing: 0px;
}

#pricing .card h3 .period {
    font-size: 16px;
    color: #6c67a3;
    letter-spacing: 0px;
}

#pricing .card .list-group {
    margin-bottom: 15px;
}

#pricing .card .btn {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: #5f5b96;
    border-radius: 0;
    padding: 10px 24px;
    letter-spacing: 1px;
    border-radius: 3px;
    display: inline-block;
    background: #1bb1dc;
    color: #fff;
}

#pricing .card .btn:hover {
    background: #0a98c0;
}

/* Frequently Asked Questions Section
--------------------------------*/

#faq {
    padding: 60px 0;
    overflow: hidden;
}

#faq #faq-list {
    padding: 0;
    list-style: none;
}

#faq #faq-list li {
    border-bottom: 1px solid #ebebeb;
}

#faq #faq-list a {
    padding: 22px 0;
    display: block;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    padding-right: 20px;
}

#faq #faq-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 20px;
}

#faq #faq-list p {
    margin-bottom: 20px;
}

#faq #faq-list a.collapse {
    color: #1bb1dc;
}

#faq #faq-list a.collapsed {
    color: #000;
}

#faq #faq-list a.collapsed i::before {
    content: "\f2c7" !important;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    padding: 0 0 30px 0;
    font-size: 14px;
    background: #fff;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #f5f8fd;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    color: #413e66;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#footer .footer-top .footer-info p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #535074;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #1bb1dc;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #0a98c0;
    color: #fff;
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #413e66;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li {
    padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #696592;
}

#footer .footer-top .footer-links ul a:hover {
    color: #1bb1dc;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
    border: 1px solid #d9dde6;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    background: #1bb1dc;
    border: 1px solid #1bb1dc;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #0a98c0;
}

#footer .footer-top .form .form-group {
    margin-bottom: 15px;
}

#footer .footer-top .form #sendmessage {
    color: #fff;
    background: #1bb1dc;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#footer .footer-top .form #errormessage {
    color: #fff;
    display: none;
    background: red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#footer .footer-top .form #sendmessage.show,
#footer .footer-top .form #errormessage.show,
#footer .footer-top .form .show {
    display: block;
}

#footer .footer-top .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}

#footer .footer-top .form label {
    color: #413e66;
    font-weight: 500;
}

#footer .footer-top .form input,
#footer .footer-top .form textarea {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #dce1ec;
    font-size: 14px;
}

#footer .footer-top .form input::-webkit-input-placeholder,
#footer .footer-top .form textarea::-webkit-input-placeholder {
    color: #a2a0bd;
}

#footer .footer-top .form input::-moz-placeholder,
#footer .footer-top .form textarea::-moz-placeholder {
    color: #a2a0bd;
}

#footer .footer-top .form input:-ms-input-placeholder,
#footer .footer-top .form textarea:-ms-input-placeholder {
    color: #a2a0bd;
}

#footer .footer-top .form input::placeholder,
#footer .footer-top .form textarea::placeholder {
    color: #a2a0bd;
}

#footer .footer-top .form button[type="submit"] {
    background: #1bb1dc;
    border: 0;
    border-radius: 3px;
    padding: 8px 30px;
    color: #fff;
    transition: 0.3s;
}

#footer .footer-top .form button[type="submit"]:hover {
    background: #0a98c0;
    cursor: pointer;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #535074;
    font-size: 15px;
}

#footer .credits {
    text-align: center;
    font-size: 14px;
    padding-top: 4px;
    color: #8582a8;
}

#footer .credits a {
    color: #1bb1dc;
}

#footer .credits a:hover {
    color: #0a98c0;
}

/************** *****************/

/*form styles*/
#msform {
    /* width: 400px; */
    margin: 0px 0 0 55%;
    text-align: center;
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 15px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}


.hidden {
    display: none;
}

.loginyour-account {
    display: inline-flex;
    text-align: center;
}

.loginyour-account .custom-control-label {
    font-size: 14px;
}


.clearfix {
    width: 100%;
    clear: both;
}

.formloginReg {
    margin: 0;
    padding: 0;
}

.formloginReg input[type=text]:not(.browser-default):focus:not([readonly]),
.formloginReg input[type=password]:not(.browser-default):focus:not([readonly]) {
    box-shadow: 0px 0 1px #336ac2;
    border: 1px solid #336ac2;
}

.formloginReg input[type=text]:not(.browser-default),
.formloginReg input[type=email]:not(.browser-default),
.formloginReg input[type=tel]:not(.browser-default),
.formloginReg input[type=password]:not(.browser-default) {
    border: 1px solid #dadce0;
    text-indent: 10px;
}

.formloginReg .input-field>label:not(.label-icon).active {
    width: auto !important;
    background: #FFFFFF;
    left: 10px;
    top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    text-indent: 0;
}

.formloginReg .input-inline-field .input-field>label:not(.label-icon).active {
    left: 20px;
}

.formloginReg .input-field>label {
    width: 98%;
    text-indent: 10px;
}

.formloginReg .scale-transition.scale-out {
    height: 0;
    margin: 0;
}

.formloginReg .input-field {
    margin-bottom: 0;
}

.showPassword {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    right: 10px;
}

.input-inline-field .showPassword {
    right: 15px;
}

@-webkit-keyframes slideLeft {
    from {
        left: 0;
    }

    to {
        left: -100%;
    }
}

@keyframes slideLeft {
    from {
        left: 0;
    }

    to {
        left: -100%;
    }
}

@-webkit-keyframes zeroLeft {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

@keyframes zeroLeft {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}



.t_and_c {
    font-size: 12px;
    padding-bottom: 10px;
}

.formloginReg h6 {
    color: #3775c7;
    font-weight: 500;
}

.form-label {
    font-size: 15px;
    text-align: left;
}

.form-label span {
    font-size: 25px;
    font-weight: 500;
    color: #3267c1;
    /* padding-top: 10px; */
    line-height: 30px;
}

.autocomplete-content li:before {
    font-family: "Ionicons";
    content: "\f455";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    font-size: 20px;
    color: #336ac2;
    padding-left: 15px;
}

.dropdown-content li>a,
.dropdown-content li>span {
    font-size: 16px;
    color: #3876c8;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
    display: inline-block;


}






@media (min-width: 768px) {
  .position-md-absolute {
    position: absolute;
  }

  .navbar-nav .nav-item:nth-child(2) {
    margin-right: 185px;
  }
}



/**************** modal /*************/

/******* Demo 1 *********/
.modal.modal-wide {
    overflow: hidden;
}

.modal-wide .modal-body {
    overflow-y: auto;
}

@-webkit-keyframes custome-animate {
    0% {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        -moz-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        -ms-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        opacity: 0;
    }

    68% {
        -webkit-transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        -moz-transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        -ms-transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        opacity: 0.8;
    }

    100% {
        -webkit-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        -moz-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        -ms-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        opacity: 1;
    }
}

@keyframes custome-animate {
    0% {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        -moz-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        -ms-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        opacity: 0;
    }

    68% {
        -webkit-transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        -moz-transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        -ms-transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        opacity: 0.8;
    }

    100% {
        -webkit-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        -moz-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        -ms-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        opacity: 1;
    }
}

.custome-animate {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: custome-animate;
    animation-name: custome-animate;
}



/********Demo 2*******/

.opacity-animate {
    animation: opt-animation 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;


}

img {
    /* width: 100%; */
}




@-webkit-keyframes opt-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes opt-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes opt-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opt-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/***** Demo 3 *********/
.opacity-animate3 {
    animation: opt-animation3 1s;
    -moz-animation-fill-mode: forwards -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes opt-animation3 {
    0% {
        opacity: 0;
        transform: scale(0.75);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-moz-keyframes opt-animation3 {
    0% {
        opacity: 0;
        transform: scale(0.75);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-o-keyframes opt-animation3 {
    0% {
        opacity: 0;
        transform: scale(0.75);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes opt-animation3 {
    0% {
        opacity: 0;
        transform: scale(0.75);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* .hide-opacity{
   animation:scaleme 1s;
}

@-webkit-keyframes scaleme {
  0% { -webkit-transform: scale(1); opacity: 1; }
  100% { -webkit-transform: scale(0); opacity: 0;display:none;}
}   
 */



/* .demo4
 &.fade {
  .modal-dialog {
   .translate(0, 0);
  }
 }
}
/* or */
/* .demo4.fade .modal-dialog {
 .translate(0, 0);
}
 */
.opacity-animate4 {
    animation: opt-animation4 1s;
    animation-fill-mode: forwards
}


@keyframes opt-animation4 {
    0% {
        transform: scale(0) rotate(360deg);
    }

    60% {
        transform: scale(0.8) rotate(-10deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}


#terms_of_service .modal-content {
    border: 0;
    border-radius: 0.5rem;
}

#terms_of_service .modal-header-bg {
    background-image: url(../img/modal-header.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#terms_of_service .modal-header {
    display: initial;
    color: #ffffff;
    padding: 0;
    border-bottom: 0;
}

#terms_of_service .modal-header h6 {
    padding: 10px;
    font-size: 13px;

}

#terms_of_service .close {
    position: absolute;
    right: 10px;
    top: 5px;
}

#terms_of_service.modal .modal-content {
    padding: 30px 24px;
}

#terms_of_service .modal-body p {
    font-size: 13px;
}

#terms_of_service .custom-control-label {
    font-size: 15px;
}

.mt-40{
    margin-top: 40px;
}


.navbar-expand-md .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: 135px;
}

.navbar-expand-md .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin-top: -140px;
}

.main-nav a.logo-img{
    padding-top: 0;
}

.hamburger-left{
    position: absolute;
    left: 0;
}


.btn2 .icon {
  transition-duration: 0.5s;
  position: absolute;
  height: 3px;
  width: 25px;
  top: 30px;
  background-color: #336ac2;
}
.btn2 .icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #336ac2;
  content: "";
  top: -10px;
}
.btn2 .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #336ac2;
  content: "";
  top: 10px;
}
.btn2.open .icon {
  transition-duration: 0.5s;
  background: transparent;
}
.btn2.open .icon:before {
  -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(4px, 12px);
          transform: rotateZ(45deg) scaleX(1.25) translate(4px, 12px);
}
.btn2.open .icon:after {
  -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(2px, -10px);
          transform: rotateZ(-45deg) scaleX(1.25) translate(2px, -10px);
}
.btn2:hover {
  cursor: pointer;
}


.dropdown-toggle::after {
    display: none;
}

.nav-item.drop-down.right {
    position: absolute;
    right: 0;
} 
.nav-item.drop-down.right .dropdown-menu{
    right: 0;
    left: inherit;
}

.dropdown-menu.show {
    border: 0;
transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.left .dropdown-menu.show{
        border-bottom-left-radius: 0;
}

.right .dropdown-menu.show{
        border-bottom-right-radius: 0;
}


.search {
    padding:10px 15px;
    width: 180px;
}

.search .ion-ios-plus {
    font-size: 35px;
    color: #336ac2;
}
.search .input-group-text{
    height: 30px;
}

.search .form-control, .search .input-group-text{
    background-color: transparent;
    border:;
}

.search .input-group-text{
    border: 1px solid;
    border-right: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-color: #336ac2;
}

.search .search-input{
    height: 30px;
    border-color: #336ac2;
    border-left: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 5px 5px !important;
    font-size: 13px;
}

.form-control:focus{
    box-shadow :none;
}


/******************** Feed Page *********************/

#feed .container {
    max-width: 1000px;
}

#feed .post-form textarea{
    resize: none;
    border-radius: 0;
    border-color: #336ac2;
}

#feed .upload-buttons {
    margin: 0;
    border: 1px solid #336ac2;
    padding-top: 5px;
    padding-bottom: 5px;
}

#feed .comment-like .cl-icon{
       display: flex;
    list-style: none;
    text-align: left;
    padding-inline-start: 0;
    font-size: 18px;
}

.display-none {
        display: none;
    }
/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 991px) {
    #call-to-action .cta-btn-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

@media (min-width: 992px) {
    #intro .intro-info {
        padding-top: 0;
        text-align: center;
    }

    #testimonials .testimonial-item p {
        width: 80%;
    }
}

@media (max-width: 991px) {
    #topbar {
        display: none;
    }

    #header {
        height: 70px;
        padding: 15px 0;
    }

    #header .logo h1 {
        font-size: 28px;
        padding: 8px 0;
    }

    #why-us .why-us-content {
        padding-top: 30px;
    }

    #pricing {
        padding-bottom: 30px;
    }

    #pricing .card {
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }

    #faq #faq-list a {
        font-size: 18px;
    }

    #faq #faq-list i {
        top: 13px;
    }
    #intro {
        /* height: 100%; */
        padding: 0px 0 60px 0;
        background-position: top center;
        background-size: cover;
        background-attachment: fixed;
    }


}


@media (max-width: 767px) {

    .display-none {
        display: block;
    }
    #intro {
        /* height: 100%; */
        padding: 0px 0 60px 0;
        background-position: top center;
        background-size: cover;
        background-attachment: fixed;
    }

    #intro .container {
        /* height: auto !important; */
    }

    #intro .intro-img {
        width: 80%;
    }

    #intro .intro-info {
        text-align: center;
        padding-top: 40px;
        padding-right: 0;
        padding-left: 0;
    }

    #intro .intro-info h2 {
        font-size: 34px;
        margin-bottom: 30px;
    }

    .section-header p {
        width: 100%;
    }

    #testimonials .testimonial-item {
        text-align: center;
    }

    #testimonials .testimonial-item .testimonial-img {
        float: none;
        margin: auto;
    }

    #testimonials .testimonial-item h3,
    #testimonials .testimonial-item h4,
    #testimonials .testimonial-item p {
        margin-left: 0;
    }

    #msform {
        margin: 0;
    }

    #msform fieldset{
      width: 100%;
    margin: 0;
    padding: 25px 20px;
    }

    #register{
      background-position: 15%;
    }

    #terms_of_service .modal-header-bg{
      background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 15px;
    }

    #welcome .group {
    position: absolute;
    right: 0;
    padding-right: 0;
    width: 70%;
    top: 15%;
}

#welcome{
  background-position: 28%;
}

}

@media (max-width: 574px) {
    #footer .footer-top .social-links a {
        margin-bottom: 25px;
    }
}

@media (max-width: 640px) {
    #intro {
    height: 100%;
    padding: 0px 0 60px 0;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}
}